{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white" style="text-align:center"><strong>Delsurone Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="my-image" src="{{ url_for('static', filename='assets/DNHS.PNG') }}" alt="Flask Development">                    
                    <div class="card-body">
                    <h5 class="card-title"><mark>Del Norte High School</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>Del Norte High School is a public high school located in and primarily serving the 4S Ranch and Del Sur communities of San Diego, California.</li>
                            <li>It is part of the Poway Unified School District (PUSD).</li>
                            <li>Established in 2009, the campus covers 210,093 square feet (19,518.3 m2) of land</li>
                        </ol>
                    </p>
                    <a href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Home" class="btn btn-primary">DNHS webpage</a>
                    </div>
                </div>
            </div>
            <div class="col-4">                
            </div>
            
        </div>
    </div>
{% endblock %}